*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  clear: both;
}

.btn2{
  border: transparent;
  width: 20px;
/*   background-color: white; */
  cursor: pointer;
}

#container{
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box{
  border: 5px solid #009999; 
  border-radius: 5px;
  position: relative;
  width:700px;
  padding: 50px;
  text-align: center;
}

#quote-box > button{
  width: 90px;
  height: 30px;
  margin: 0 auto;
  font-weight: 300;
  margin-top: 40px;
  outline: none;
  border-color: transparent;
  border-radius: 2px;
}

#quote-box > button:hover{
  cursor: pointer;
  background-color: aquamarine;
}

#quote{
  font-size: 2rem;
  text-align: left;
}

#author{
  text-align: right;
  font-size:1.2rem;
}

.toggle{
  background-color: #001a33;
  color: white;
}

.togglebtn{
  background-color: transparent;
  color: white;
}